{% extends 'back/admin.html.twig' %}

{% block title %}Historique des changements - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
		{% block title_back_page %}Historique des changements{% endblock %}
	</div>

    {% block back_content %}
        <div class="row">
            {% if changelogList is empty %}
                <p class="color-blue-dark-shebam">Aucune modification n'a été faite</p>
            {% else %}
            {% for changelogList in changelogList %}
            <div class="col-lg-2 ml-3 changelog">
                <p>{{changelogList.version}}</p>
                <p class="color-blue-dark-shebam fw-normal">- {{changelogList.name}}</p>
                <p class="color-blue-dark-shebam">{% if changelogList.subname is empty %}{% else %} - {{changelogList.subname}}<br>{% endif %}</p>
                <p class="color-blue-dark-shebam">{% if changelogList.subname2 is empty %}{% else %}- {{changelogList.subname2}}<br>{% endif %}</p>
                <p class="color-blue-dark-shebam">{% if changelogList.subname3 is empty %}{% else %}- {{changelogList.subname3}}<br>{% endif %}</p>
                <p class="color-blue-dark-shebam">Publié le: {{changelogList.createdat|date("d-m-Y")}} à {{changelogList.createdat|date((" H:i"))}}</p>
                <span><a href="{{ path('delete_changelog_back', {"id": changelogList.id}) }}" onclick="return confirm('Attention vous vous apprettez à supprimer un historique')"><i class="fas fa-trash"></i></a></span>
            </div>
            {% endfor %}
        </div>
        <div class="mb-3"></div>
        <div class="mt-3 text-center btn-submit-back btn">
            <a href="{{ path('add_changelog_back') }}">Ajouter une modification</a>
        </div>
    {% endif %}  

    {% endblock %}

{% endblock %}