{% extends 'back/admin.html.twig' %}

{% block title %}Historique des changements - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
		{% block title_back_page %}Historique des changements{% endblock %}
	</div>

    {% block content %}
    <div class="container">
            {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
                <div class="mb-4  text-center">
                    <a class="color-yellow text-20 text-bold" href="{{ path('add_changelog') }}"><i class="fas fa-plus-circle"></i>&nbsp; Ajouter un changement</a>
                </div>
                <div class="btn-add-task-home-mobile">
                    <a class="color-yellow text-20 text-bold" href="{{ path('add_changelog') }}">Ajouter un changement</a>
                </div>
            {% endif %}
        <div class="row">
            {% if changelogList is empty %}
                <p class="color-blue-dark-shebam">Aucune modification n'a été faite</p>
            {% else %}
            {% for changelogList in changelogList %}
            <div class="col changelog">
                    <span>
                        <a href="{{ path('delete_changelog', {"id": changelogList.id}) }}" onclick="return confirm('Attention vous vous apprettez à supprimer un historique')"><i class="fas fa-trash color-yellow float-right"></i></a>
                    </span>
                <p class="text-bold text-center text-20 pchangleog">{{changelogList.version}}</p>
                <p class="color-blue-dark-shebam fw-normal">- {{changelogList.name}}</p>
                <p class="color-blue-dark-shebam">{% if changelogList.subname is empty %}{% else %} - {{changelogList.subname}}<br>{% endif %}</p>
                <p class="color-blue-dark-shebam">{% if changelogList.subname2 is empty %}{% else %}- {{changelogList.subname2}}<br>{% endif %}</p>
                <p class="color-blue-dark-shebam">{% if changelogList.subname3 is empty %}{% else %}- {{changelogList.subname3}}<br>{% endif %}</p>
                <p class="color-blue-dark-shebam">Publié le: {{changelogList.createdat|date("d-m-Y")}} à {{changelogList.createdat|date((" H:i"))}}</p>

            </div>
            {% endfor %}
        </div>
    {% endif %}  

    {% endblock %}
</div>
{% endblock %}