{% extends 'back/current_week/file/base-pdf.html.twig' %}

{% block body %}
    <h3 class="text-center mb-3" style="color: #00263A;"> Liste téléchargée le {{ "now"|date("d/m/Y") }}</h3><br>
    <div class="mb-5"></div>
    <div class="text-center p-3" style="background-color: #00263A; color: #FFD600; font-weight: bold;">Priorité 1</div>
    <table class="table" data-toggle="table">
        <thead style="background-color: #00263A; color: #FFD600">
            <tr>
                <th scope="col">Sujet</th>
                <th scope="col">Objet</th>
                <th scope="col">Personne(s) Désignée(s)</th>
            </tr>
        </thead>
        <tbody>
            {% for task in task %}
            	{% if task.p1 == 1 and task.p2 == 0 and task.nextweek == 0  %}
                    <tr style="background: #023D5C">
                        <td style="color: #ffffff">{{task.customer}}</td>
                        <td style="color: #ffffff">
                            {% if task.object is empty %}{% else %}{{task.object}}<br>{% endif %}
                            {% if task.subobject1 is empty %}{% else %}{{task.subobject1}}<br>{% endif %} 
                            {% if task.subobject2 is empty %}{% else %}{{task.subobject2}}<br>{% endif %}
                            {% if task.subobject3 is empty %}{% else %}{{task.subobject3}}<br>{% endif %}
                        </td>
                        <td style="color: #ffffff">{% for task in task.users %}
                                {{ task.firstname }} <br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <div class="mb-5"></div>

    <div style="background-color: #00263A; color: #FFD600; font-weight: bold;" class="text-center p-3">Priorité 2</div>
    <table class="table" data-toggle="table">
        <thead style="background-color: #00263A; color: #FFD600">
            <tr>
                <th scope="col">Sujet</th>
                <th scope="col">Objet</th>
                <th scope="col">Personne(s) Désignée(s)</th>
            </tr>
        </thead>
        <tbody>
            {% for task in task %}
                {% if task.p1 == 0 and task.p2 == 1 and task.nextweek == 0 %}
                    <tr style="background: #023D5C">
                        <td style="color: #ffffff">{{task.customer}}</td>
                        <td style="color: #ffffff">
                            {% if task.object is empty %}{% else %}{{task.object}}<br>{% endif %}
                            {% if task.subobject1 is empty %}{% else %}{{task.subobject1}}<br>{% endif %} 
                            {% if task.subobject2 is empty %}{% else %}{{task.subobject2}}<br>{% endif %}
                            {% if task.subobject3 is empty %}{% else %}{{task.subobject3}}<br>{% endif %}
                        </td>
                        <td style="color: #ffffff">{% for task in task.users %}
                                {{ task.firstname }} <br>
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <div class="mb-5"></div>

    <div style="background-color: #00263A; color: #FFD600; font-weight: bold;" class="text-center p-3">Rendez-vous</div>
    <table class="table" data-toggle="table">
        <thead style="background-color: #00263A; color: #FFD600 ">
            <tr>
                <th scope="col">Sujet</th>
                <th scope="col">Objet</th>
                <th>Personne(s) Désignée(s)</th>
                <th scope="col">Date et heure</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointment %}
                {% if appointment.nextweek == 0 %}
                    <tr style="background: #023D5C">
                        <td style="color: #ffffff">{{appointment.name}}</td>
                        <td style="color: #ffffff">{{appointment.subject}}</td>
                        <td style="color: #ffffff">
                        {% for appointment in appointment.user %}
                            {{ appointment.firstname }} <br>
                        {% endfor %}
                        </td>
                        <td style="color: #ffffff">{{ appointment.hoursappointment|date('d-m-Y')  }} à {{appointment.hoursappointment|date('H:i')}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <div class="mb-5"></div>

    <div style="background-color: #00263A; color: #FFD600; font-weight: bold;" class="text-center p-3">Attente retour</div>
    <table class="table" data-toggle="table">
        <thead style="background-color: #00263A; color: #FFD600">
            <tr>
                <th scope="col">Sujet</th>
                <th scope="col">Objet</th>
                <th>Personne(s) Désignée(s)</th>
            </tr>
        </thead>
        <tbody>
            {% for waitingReturn in waitingReturn %}
                {% if waitingReturn.nextweek == 0 %}
                    <tr style="background: #023D5C">
                        <td style="color: #ffffff">{{waitingReturn.customer}}</td>
                        <td style="color: #ffffff">
                            {% if waitingReturn.object is empty %}{% else %}{{waitingReturn.object}}<br>{% endif %}
                            {% if waitingReturn.subobject1 is empty %}{% else %}{{waitingReturn.subobject1}}<br>{% endif %} 
                            {% if waitingReturn.subobject2 is empty %}{% else %}{{waitingReturn.subobject2}}<br>{% endif %}
                            {% if waitingReturn.subobject3 is empty %}{% else %}{{waitingReturn.subobject3}}<br>{% endif %}
                        </td>
                        <td style="color: #ffffff">
                        {% for waitingReturn in waitingReturn.users %}
                            {{ waitingReturn.firstname }} <br>
                        {% endfor %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}