{% extends 'back/admin.html.twig' %}

{% block title %}Liste des téléchargements - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div class="d-flex flex-row">
		{% block title_back_page %}Liste des téléchargements{% endblock %}
	</div>


	{% block content %}
		<div class="container">
			<table class="table" data-toggle="table">
				<thead class="bg-blue-dark-light">
					<tr>
                        <th class="color-yellow" scope="col">Nom</th>
						<th class="color-yellow" scope="col">Date de téléchargement</th>
						<th class="color-yellow" scope="col">Action</th>
					</tr>
				</thead>
				<tbody class="bg-blue-dark table-borderless">
					{% for file in file %}
						<tr>
							<td  class="color-white text-bold">{{ file.name }}</a></td>
							<td  class="color-white text-bold">{{ file.createdat|date("d-m-Y")}} à {{file.createdat|date((" H:i"))}}</td>
                            <td>
								<a class="color-yellow" href="{{ asset("file_tasks/" ~ file.name) }}" target="new"><i class="fas fa-eye"></i></a>&nbsp;
								
								<a class="color-yellow" href="{{ path('delete_download', {"id": file.id}) }}" onclick="return confirm('Attention vous vous apprettez à supprimer un téléchargement')"><i class="fas fa-trash"></i></a>
                            </td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endblock %}
{% endblock %}

