{% extends 'back/index.html.twig' %}

{% block title %}Liste des téléchargements - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div class="d-flex flex-row">
		{% block titre_admin_page %}{% block title_titre_admin_page_base %}{{ parent() }}Liste des téléchargements{% endblock %}{% endblock %}
	</div>


	{% block admin_utilisateur %}
		<div class="container">
			<table class="table table-light" data-pagination="true" data-toggle="table">
				<thead class="thead-light">
					<tr>
                        <th scope="col">Nom</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for download in download %}
						<tr>
							<td><a href="{{ asset("file_tasks/" ~ download.name) }}">{{ download.name }}</a></td>
                            <td>
								<a href="{{ path('download_detete_admin', {"id": download.id}) }}" onclick="return confirm('Attention vous vous apprettez à supprimer un téléchargement')"><i class="fas fa-trash"></i></a>
                            </td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endblock %}
{% endblock %}

