{% extends 'back/admin.html.twig' %}

{% block title %}Liste des roles - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
{% block content %}
<div class="d-flex justify-content-center color-white">
    {% block title_back_page %}<h1>Liste des rôles</h1> {% endblock %}
</div>
    
        <div class="mb-4 text-center padding-dopdown-mobile">
            <a class="color-yellow text-20 text-bold" href="{{ path('permission_role_add') }}"><i class="fas fa-plus-circle"></i>&nbsp;
                Ajouter un rôle</a>
        </div>

			<table class="table" data-pagination="true" data-toggle="table" data-search="true">
				<thead class="bg-blue-dark-light">
					<tr>
						<th class="color-yellow" scope="col">Role</th>
						<th class="color-yellow" scope="col">Description</th>
                        <th class="color-yellow" scope="col">Action</th>
					</tr>
				</thead>
				<tbody class="bg-blue-dark table-borderless">
					{% for role, label in roles %}
						<tr>
							<td class="color-white text-bold">{{role}}</td>
                            <td class="color-white text-bold">{{label}}</td>
                            <td>
								<a class="color-yellow" href="{{ path('permission_role_edit', { roleName: role }) }}"><i class="fas fa-cog"></i></a>&nbsp;

                                <a class="color-yellow" href="{{ path('permission_role_delete', { roleName: role }) }}"
                                onclick="return confirm('Attention vous vous apprettez à supprimer un role')"><i class="fas fa-trash"></i>
                            </a>
                            </td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
    {% endblock %}
{% endblock %}