{% extends 'back/admin.html.twig' %}

{% block title %}Modifier le rôle - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
    {% block content %}
        <div class="d-flex justify-content-center color-white">
            <h1>Modifier le rôle : {{ roleName }}</h1>
        </div>

        {{ form_start(form) }}
        <div class="form-back" style="max-width: 750px !important">

        {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        
        {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
            {{ form_row(form.role) }}
            {{ form_row(form.label) }}
            <div class="inputRole">
                <div class="row">
                    <div class="col">
                        <p class="form-role-title">Tâche P1</p>
                        {{ form_row(form.show_p2_button) }} 
                        {{ form_row(form.show_task_p1_cw_to_p1_nw_button) }}
                        {{ form_row(form.show_task_p1_modify_button) }} 
                        {{ form_row(form.show_task_p1_delete_button) }}
                    </div>
                    <div class="col">
                        <p class="form-role-title">Tâche P2</p>
                        {{ form_row(form.show_switch_to_cw) }}
                    </div>
                </div>
            </div>
            {{ form_row(form.submit) }}

        </div>
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}
