{% extends 'back/admin.html.twig' %}

{% block title %}Modifier le rôle - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
    {% block content %}
        <div class="d-flex justify-content-center color-white">
            <h1>Modifier le rôle : {{ roleName }}</h1>
        </div>

        {{ form_start(form) }}
        <div class="form-back" style="max-width: 900px !important">

        {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        
        {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
            {{ form_row(form.role) }}
            {{ form_row(form.label) }}
            <div class="inputRole">
                <p class="form-role-title text-center mb-4">Semaine Actuelle</p>
                <div class="row mb-4">
                    <div class="col">
                        <p class="form-role-title text-center">Tâche P1</p>
                            {{ form_row(form.p2_button_in_p1_cw) }} 
                            {{ form_row(form.task_p1_cw_to_p1_nw_button) }}
                            {{ form_row(form.task_p1_modify_button) }} 
                            {{ form_row(form.task_p1_delete_button) }}
                            {{ form_row(form.waiting_return_in_p1_cw)}}
                    </div>
                    <div class="col">
                        <p class="form-role-title text-center">Tâche P2</p>
                            {{ form_row(form.p1_button_in_p2_cw) }}
                            {{ form_row(form.task_p2_cw_to_p1_nw_button) }}
                            {{ form_row(form.task_p2_modify_button) }}
                            {{ form_row(form.task_p2_delete_button) }}
                            {{ form_row(form.waiting_return_in_p2_cw) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="col">
                            <p class="form-role-title text-center">Attente Retour</p>
                            {{ form_row(form.wainting_return_to_p1) }}
                            {{ form_row(form.wainting_return_to_p2) }}
                            {{ form_row(form.wainting_return_from_cw_to_nw) }}
                            {{ form_row(form.wainting_return_modify_cw) }}
                            {{ form_row(form.wainting_return_delete_cw) }}
                        </div>
                    </div>
                    <div class="col">
                        <p class="form-role-title text-center mb-4 mt-4">Rendez-vous</p>
                            {{ form_row(form.appointment_cw_to_nw) }}
                            {{ form_row(form.appointment_modify_cw) }}
                            {{ form_row(form.appointment_delete_cw) }}
                    </div>
                </div>
                <p class="form-role-title text-center mb-4 mt-4">Semaine Suivante</p>
                <div class="row">
                    <div class="col">
                        <p class="form-role-title text-center">Tâche P1</p>
                            {{ form_row(form.task_p1_to_p2_nw)}}
                            {{ form_row(form.task_p1_nw_to_p1_cw_button) }}
                            {{ form_row(form.task_p1_modify_nw) }}
                            {{ form_row(form.task_p1_delete_nw) }}
                            {{ form_row(form.waiting_return_in_p1_nw)}}
                    </div>
                    <div class="col">
                        <p class="form-role-title text-center">Tâche P2</p>
                            {{ form_row(form.task_p2_to_p1_nw)}}
                            {{ form_row(form.task_p2_nw_to_p2_cw_button) }}
                            {{ form_row(form.task_p2_modify_nw) }}
                            {{ form_row(form.task_p2_delete_nw) }}
                            {{ form_row(form.waiting_return_in_p2_nw) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="form-role-title text-center mb-4 mt-4">Attente Retour</p>
                            {{ form_row(form.wainting_return_nw_to_p1) }}
                            {{ form_row(form.wainting_return_nw_to_p2) }}
                            {{ form_row(form.wainting_return_nw_to_cw) }}
                            {{ form_row(form.wainting_return_modify_nw) }}
                            {{ form_row(form.wainting_return_delete_nw) }}
                    </div>
                    <div class="col">
                        <p class="form-role-title text-center mb-4 mt-4">Rendez-vous</p>
                            {{ form_row(form.appointment_nw_to_cw) }}
                            {{ form_row(form.appointment_modify_nw) }}
                            {{ form_row(form.appointment_delete_nw) }}
                    </div>
                </div>
                
                <p class="form-role-title text-center mb-4 mt-4">Global</p>
                <div class="row">
                    <div class="col">
                        <p class="form-role-title">Fonctionnalités</p>
                            {{ form_row(form.add_task) }}
                            {{ form_row(form.add_wainting_return) }}
                    </div>
                    <div class="col">
                            {{ form_row(form.reorder_task) }}
                            {{ form_row(form.button_done) }}
                            {{ form_row(form.generate_archive_task) }}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">{{ form_row(form.submit) }}</div>

        </div>
        {{ form_end(form) }}
    {% endblock %}
{% endblock %}
