{% extends 'base.html.twig' %}

{% block content %}
    <title>{%  block title %}Attente retour - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}</title>
	<div class="mb-5">
		<img class="d-block mx-auto" src="{{ asset('/assets/images/todo.png') }}" alt="Logo de connexion To Do List">
		<h1 class="text-center color-white mb-3">Attente retour</h1>
        <nav class="navbar navbar-expand-lg">
            <ul class="navbar-nav mx-auto">
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item"> 
                            <a class="
                                        {% if app.request.attributes.get('_route') starts with 'current_week_p1' %}active-filters{% endif %}
                                        {% if app.request.attributes.get('_route') starts with 'modify_task_p1_cw' %}active-filters{% endif %}
                                        navbar-text text-uppercase text-margin" href="{{ path('current_week_p1') }}">Priorité 1 <i class="color-white fas fa-tasks"></i></a>
                        </li>
                        <li class="nav-item"> 
                            <a class="
                                        {% if app.request.attributes.get('_route') starts with 'current_week_p2' %}active-filters{% endif %}
                                        {% if app.request.attributes.get('_route') starts with 'modify_task_p2_cw' %}active-filters{% endif %}
                                        navbar-text text-uppercase text-margin" href="{{ path('current_week_p2') }}">Priorité 2 <i class="color-white fas fa-tasks"></i></a>
                        </li>
                        <li class="nav-item"> 
                            <a class="
                                        {% if app.request.attributes.get('_route') starts with 'current_week_waiting_return' %}active-filters{% endif %}
                                        {% if app.request.attributes.get('_route') starts with 'current_week_waiting_return' %}active-filters{% endif %}
                                        navbar-text text-uppercase text-margin" href="{{ path('current_week_waiting_return') }}">Attente retour <i class="color-white fas fa-hourglass-start"></i></a>
                        </li>
                        <li class="nav-item"> 
                            <a class="
                                        {% if app.request.attributes.get('_route') starts with 'current_week_appointment' %}active-filters{% endif %}
                                        {% if app.request.attributes.get('_route') starts with 'modify_appointment_cw' %}active-filters{% endif %}
                                        navbar-text text-uppercase text-margin" href="{{ path('current_week_appointment') }}">Rendez-vous <i class="color-white far fa-calendar-check"></i></a>
                        </li>
                {% endif %}
            {% endif %}
            </ul> 
        </nav>
		<div class="container text-center padding-mobile">
            {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
                <div class="mb-4">
                    <a class="color-yellow text-20 text-bold" href="#ajouterunretour"><i class="fas fa-plus-circle"></i>&nbsp; Ajouter un retour</a>
                </div>
            {% endif %}
            <table id="tableOrderWaitingReturn" class="table mb-5 table-bordered" data-toggle="table"{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%} data-use-row-attr-func="true" data-reorderable-rows="true" {% endif %}>
                <thead class="bg-blue-dark-light table-borderless" border-right-style: none;>
                    <tr style="border-right-style: none;">
                        <th class="color-yellow text-bold" data-field="id" data-visible="false">ID</th>
                        <th class="color-yellow text-bold" data-field="customer"{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}data-sortable="true"{% endif %} scope="col">Client</th>
                        <th class="color-yellow text-bold" data-field="subject" {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}data-sortable="true"{% endif %} scope="col">Sujet</th>
                        <th  class="color-yellow text-bold"data-field="person" {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}data-sortable="true"{% endif %} scope="col">Équipe</th>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
                            <th class="color-yellow" scope="col">Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody class="bg-blue-dark">
                    {% for waitingReturn in waitingReturns %}
                        {% if waitingReturn.nextweek == 0 %}
                            <tr>
                                <td>{{ waitingReturn.id }}</td>
                                <td class="color-white text-bold">{{waitingReturn.customer}}</td>
                                <td class="color-white text-bold">
                                    {% if waitingReturn.object is empty %}{% else %}{{waitingReturn.object}}<br>{% endif %}
                                    {% if waitingReturn.subobject1 is empty %}{% else %}{{waitingReturn.subobject1}}<br>{% endif %}
                                    {% if waitingReturn.subobject1 is empty %}{% else %}{{waitingReturn.subobject2}}<br>{% endif %}
                                    {% if waitingReturn.subobject1 is empty %}{% else %}{{waitingReturn.subobject3}}{% endif %}
                                </td>
                                <td class="color-white text-bold">{% for waitingReturn in waitingReturn.users %}
                                        {{ waitingReturn.firstname }} <br>
                                    {% endfor %}
                                </td>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
                                <td>                 
                                    <a class="color-yellow" href="{{ path('to_waiting_return_from_p1_cw', {"id": waitingReturn.id }) }}">P1</a>
                                    <a class="color-yellow" href="{{ path('to_waiting_return_from_p2_cw', {"id": waitingReturn.id }) }}">P2</a>
                                    <a class="color-yellow" class="color-yellow" href="{{ path('change_waiting_return_to_waiting_return_nw', {"id": waitingReturn.id}) }}"><i class="fas fa-redo"></i></a>

                                    <a class="color-yellow" class="color-yellow" href="{{ path('current_week_modify_waiting_return', {"id": waitingReturn.id}) }}"><i class="fas fa-cog"></i></a>

                                    <a class="color-yellow" class="color-yellow" href="{{ path('current_week_delete_waiting_return', {"id": waitingReturn.id}) }}" onclick="return confirm('Attention vous vous apprettez à supprimer une attente de retour')"><i class="fas fa-trash"></i></a>
                                </td>
                            {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        <div id="ajouterunretour" class="overlay">
            <div class="popup bg-blue-dark-light">
                <a class="close" href=""><i class="fas fa-times"></i></a>
                {{ form_start(form_cw_waiting_return_add) }}
                <div class="row">
                    <div class="col">
                        <div class="input">{{ form_row(form_cw_waiting_return_add.customer) }}</div>
                        {{ form_row(form_cw_waiting_return_add.object) }}
                        <p class="color-yellow text-bold">Personne(s)</p>
                        <div class="bg-blue-dark text-left users">
                            {{ form_row(form_cw_waiting_return_add.users) }}
                        </div>
                        <div class="text-left mt-3 color-yellow">
                            {{ form_row(form_cw_waiting_return_add.submit) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form_cw_waiting_return_add) }}
            </div>
        </div>
        </div>
	</div>
{%  endblock %}
{% block javascripts %}

{{ parent() }}
<script>
    $(() => {
        $("#tableOrderWaitingReturn").on("reorder-row.bs.table", (e, table, row, old) => {
            $.ajax({
                url: "{{ path('reorder-waiting-return-current-week')}}",
                method: "POST",
                data: {
                    table: JSON.stringify(table),
                    context: 1
                },
                dataType: "JSON"
            })
        })
    })
</script>
{% endblock %}