{% extends 'base.html.twig' %}

{% block content %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{%  block title %}Accueil - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}</title>
    </style>
</head>
	<body>
		<div class="mb-5">
			
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<h1 class="text-center color-blue-dark-shebam mb-3">Liste des tâches - Semaine Actuelle</h1>
			<hr>
			<div class="mb-5"></div>
			<div class="row">
				<div class="col padding-mobile">
					<!-- Table Priority 1 -->
					<div class="text-center bg-yellow-shebam color-white-shebam p-3 font-weight-bold">Priorité 1</div>
					<table id="tableOrderTaskP1" class="table mb-5" data-toggle="table" {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%} data-use-row-attr-func="true" data-reorderable-rows="true" {% endif %}>
						<thead class="bg-grey-shebam color-white-shebam font-weight-bold">
							<tr>
								<th data-field="id" data-visible="false">ID</th>
								<th data-field="customer" {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}data-sortable="true"{% endif %} scope="col">Sujet</th>
								<th data-field="subject" {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}data-sortable="true"{% endif %} scope="col">Objet</th>
								<th data-field="person" {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}data-sortable="true"{% endif %} scope="col">Personne(s)</th>
								{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
									<th scope="col">Action</th>
								{% endif %}
							</tr>
						</thead>
						<tbody>
							{% for task in task %}
								{% if task.p1 == 1 and task.p2 == 0 and task.nextweek == 0 %}
									<tr class="bg-white-shebam">
										<td>{{ task.id }}</td>
										<td>{{task.customer}}</td>
										<td>
											{% if task.object is empty %}{% else %}{{task.object}}<br>{% endif %}
											{% if task.subobject1 is empty %}{% else %}{{task.subobject1}}<br>{% endif %} 
											{% if task.subobject1 is empty %}{% else %}{{task.subobject2}}<br>{% endif %}
											{% if task.subobject1 is empty %}{% else %}{{task.subobject3}}<br>{% endif %}
										</td>
										<td>{% for task in task.users %}
												{{ task.firstname }} <br>
											{% endfor %}
										</td>
									{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
										<td>
											<a href="{{ path('task_cw_change_to_p2_front', {"id": task.id}) }}"><span>P2</span></a>
												|
											<a href="{{ path('task_change_p1_cw_to_p1_nw_front', {"id": task.id}) }}"><i class="fas fa-redo"></i></a>
												|
											<a href="{{ path('modify_task_p1_cw_back', {"id": task.id}) }}"><i class="fas fa-cog"></i></a>
												|
											<a href="{{ path('delete_task_cw_front', {"id": task.id}) }}" onclick="return confirm('Attention vous vous apprettez à supprimer une tâche P1')"><i class="fas fa-trash"></i></a>
										</td>
									{% endif %}
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
					{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
						<div class="btn-add-task-home">
							<p class="mt-3 text-center"><a class="btn-yellow-shebam" href="#ajouterunetachep1">Ajouter</a></p>
						</div>
						<div class="btn-add-task-home-mobile">
							<p class="mt-3 text-center"><a class="btn-yellow-shebam" href="{{ path('add_task_p1_cw_back') }}">Ajouter</a></p>
						</div>
					{% endif %}
				</div>
				<div class="col">
					<!-- Table Priority 2 -->
					<div class="text-center bg-green-light-shebam color-white-shebam p-3 font-weight-bold">Priorité 2</div>
					<table id="tableOrderTaskP2" class="table mb-5" data-toggle="table" {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%} data-use-row-attr-func="true" data-reorderable-rows="true" {% endif %}>
						<thead class="bg-grey-shebam color-white-shebam font-weight-bold">
							<tr>
								<th data-field="id" data-visible="false">ID</th>
								<th data-field="customer" {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}data-sortable="true"{% endif %} scope="col">Sujet</th>
								<th data-field="subject" {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}data-sortable="true"{% endif %} scope="col">Objet</th>
								<th data-field="person" {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}data-sortable="true"{% endif %} scope="col">Personne(s)</th>
								{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
								<th scope="col">Action</th>
								{% endif %}
							</tr>
						</thead>
						<tbody>
						{% for task in task %}
							{% if task.p1 == 0 and task.p2 == 1 and task.nextweek == 0  %}
								<tr class="bg-white-shebam">
									<td>{{ task.id }}</td>
									<td>{{task.customer}}</td>
									<td>{% if task.object is empty %}{% else %}{{task.object}}<br>{% endif %}
										{% if task.subobject1 is empty %}{% else %}{{task.subobject1}}<br>{% endif %} 
										{% if task.subobject3 is empty %}{% else %}{{task.subobject2}}<br>{% endif %}
										{% if task.subobject3 is empty %}{% else %}{{task.subobject3}}<br>{% endif %}
									</td>
									<td>{% for task in task.users %}
											{{ task.firstname }} <br>
										{% endfor %}
									</td>
									{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
										<td>
											<a href="{{ path('task_cw_change_to_p1_front', {"id": task.id}) }}"><span>P1</span></a>
												|
											<a href="{{ path('task_change_p2_cw_to_p2_nw_front', {"id": task.id}) }}"><i class="fas fa-redo"></i></a>
												|
											<a href="{{ path('modify_task_p2_cw_back', {"id": task.id}) }}"><i class="fas fa-cog"></i></a>
												|
											<a href="{{ path('delete_task_cw_front', {"id": task.id}) }}" onclick="return confirm('Attention vous vous apprettez à supprimer une tâche P2')"><i class="fas fa-trash"></i></a>
										</td>
									{% endif %}
								</tr>
							{% endif %}
						{% endfor %}
						</tbody>
					</table>					

					{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
						<div class="btn-add-task-home">
							<p class="mt-3 text-center"><a class="btn-green-light-shebam" href="#ajouterunetachep2">Ajouter</a></p>
						</div>
						<div class="btn-add-task-home-mobile">
							<p class="mt-3 text-center"><a class="btn-green-light-shebam" href="{{ path('add_task_p1_cw_back') }}">Ajouter</a></p>
						</div>
					{% endif %}

				</div>
			</div>

			<div class="mt-5"></div>

			<div class="row">

				<div class="col">
					<!-- Table Appointment -->
					<div class="text-center bg-pink-shebam color-white-shebam p-3 font-weight-bold">Rendez-vous</div>
					<table id="tableOrderAppointment" class="table" data-toggle="table">
						<thead class="bg-grey-shebam color-white-shebam">
							<tr>
								<th data-field="id" data-visible="false">ID</th>
								<th  scope="col">Sujet</th>
								<th scope="col">Objet</th>
								<th scope="col">Personne(s)</th>
								<th scope="col">Date et heure</th>
							{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
								<th scope="col">Action</th>
							{% endif %}
							</tr>
						</thead>
						<tbody>
							{% for appointment in appointment %}
								{% if appointment.nextweek == 0 %}					
									<tr class="bg-white-shebam">
										<td>{{appointment.id}}</td>
										<td>{{appointment.name}}</td>
										<td>{{appointment.subject}}</td>
										<td>
										{% for appointment in appointment.user %}
											{{ appointment.firstname }} <br>
										{% endfor %}
										</td>
										<td>{{ appointment.hoursappointment|date("d-m-Y")  }} à {{appointment.hoursappointment|date('H:i')}}</td>
										{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
										<td>
											<a href="{{ path('modify_appointment_cw_back', {"id": appointment.id}) }}"><i class="fas fa-cog"></i></a>
												|
											<a href="{{ path('change_appointment_cw_to_nw_front', {"id": appointment.id}) }}"><i class="fas fa-redo"></i></a>
												|
											<a href="{{ path('detete_appointment_cw_front', {"id": appointment.id}) }}" onclick="return confirm('Attention vous vous apprettez à supprimer un rendez-vous')"><i class="fas fa-trash"></i></a>
										</td>
									{% endif %}
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>

					{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
						<div class="btn-add-task-home">
							<p class="mt-3 text-center"><a class="btn-pink-shebam" href="#ajouterunrendezvous">Ajouter</a></p>
						</div>
						<div class="btn-add-task-home-mobile">
							<p class="mt-3 text-center"><a class="btn-pink-shebam" href="{{ path('add_appointment_cw_back') }}">Ajouter</a></p>
						</div>
					{% endif %}
				</div>
				<div class="col padding-mobile">
					<!-- Table Quote -->
					<div class="text-center bg-blue-light-shebam color-white-shebam p-3 font-weight-bold">Devis</div>
					<table id="tableOrderQuote" class="table" data-toggle="table">
						<thead class="bg-grey-shebam color-white-shebam font-weight-bold">
							<tr>
								<th data-field="id" data-visible="false">ID</th>
								<th scope="col">Sujet</th>
								<th scope="col">Objet</th>
								<th scope="col">Personne(s)</th>
							{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
								<th scope="col">Action</th>
							{% endif %}
							</tr>
						</thead>
						<tbody>
							{% for quote in quote %}
								{% if quote.nextweek == 0 %}	
									<tr class="bg-white-shebam">
										<td>{{ quote.id }}</td>
										<td>{{ quote.subject }}</td>
										<td>{{ quote.object }}</td>
										<td>
										{% for quote in quote.person %}
											{{ quote.firstname }} <br>
										{% endfor %}
										</td>
									{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
										<td>
											<a href="{{ path('modify_quote_cw_back', {"id": quote.id}) }}"><i class="fas fa-cog"></i></a>
													|
											<a href="{{ path('change_quote_cw_to_nw_front', {"id": quote.id}) }}"><i class="fas fa-redo"></i></a>
													|
											<a href="{{ path('delete_quote_cw_front', {"id": quote.id}) }}" onclick="return confirm('Attention vous vous apprettez à supprimer un devis')"><i class="fas fa-trash"></i></a>
										</td>
									{% endif %}
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>

					{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
						<div class="btn-add-task-home">
							<p class="mt-3 text-center"><a class="btn-blue-light-shebam" href="#ajouterundevis">Ajouter</a></p>
						</div>
						<div class="btn-add-task-home-mobile">
							<p class="mt-3 text-center"><a class="btn-blue-light-shebam" href="{{ path('add_appointment_cw_back') }}">Ajouter</a></p>
						</div>
					{% endif %}
				</div>
			</div>

			<!-- POPUP -->
			<!-- Task P1 -->
			<div id="ajouterunetachep1" class="overlay">
				<div class="was-validated popup bg-white-light-shebam is-valid">
					<h2 class="mb-4">Ajout d'une tâche</h2>
					<a class="close" href=""><i class="fas fa-times"></i></a>
						<div class="content">
						{{ form_start(form_task_p1_cw_add_front) }}
								<div class="form-group">
									{{ form_row(form_task_p1_cw_add_front.customer) }}
									{{ form_row(form_task_p1_cw_add_front.object) }}
									{{ form_row(form_task_p1_cw_add_front.subobject1) }}
									{{ form_row(form_task_p1_cw_add_front.subobject2) }}
									{{ form_row(form_task_p1_cw_add_front.subobject3) }}
									{{ form_row(form_task_p1_cw_add_front.users) }}
									{{ form_row(form_task_p1_cw_add_front.p1) }}
								</div>
								<div class="form-group">
									{{ form_row(form_task_p1_cw_add_front.submit) }}
								</div>
						{{ form_end(form_task_p1_cw_add_front) }}
					</div>
				</div>
			</div>

			<!-- Task P2 -->
			<div id="ajouterunetachep2" class="overlay">
				<div class="was-validated popup bg-white-light-shebam is-valid">
					<h2 class="mb-4">Ajout d'une tâche</h2>
					<a class="close" href=""><i class="fas fa-times"></i></a>
						<div class="content">
						{{ form_start(form_task_p2_cw_add_front) }}
								<div class="form-group">
									{{ form_row(form_task_p2_cw_add_front.customer) }}
									{{ form_row(form_task_p2_cw_add_front.object) }}
									{{ form_row(form_task_p2_cw_add_front.subobject1) }}
									{{ form_row(form_task_p2_cw_add_front.subobject2) }}
									{{ form_row(form_task_p2_cw_add_front.subobject3) }}
									{{ form_row(form_task_p2_cw_add_front.users) }}
									{{ form_row(form_task_p2_cw_add_front.p2) }}
								</div>
								<div class="form-group">
									{{ form_row(form_task_p2_cw_add_front.submit) }}
								</div>
						{{ form_end(form_task_p2_cw_add_front) }}
					</div>
				</div>
			</div>

			<!-- Appointment -->
			<div id="ajouterunrendezvous" class="overlay">
				<div class="was-validated popup bg-white-light-shebam is-valid">
				<h2 class="mb-4">Ajout un rendez-vous</h2>
				<a class="close" href=""><i class="fas fa-times"></i></a>
					<div class="content">
						{{ form_start(form_appointment_cw_add_front) }}
								<div class="form-group">
									{{ form_row(form_appointment_cw_add_front.name) }}
									{{ form_row(form_appointment_cw_add_front.subject) }}
									{{ form_row(form_appointment_cw_add_front.hoursappointment) }}
									{{ form_row(form_appointment_cw_add_front.user) }}
								</div>
								<div class="form-group">
									{{ form_row(form_appointment_cw_add_front.submit) }}
								</div>
						{{ form_end(form_appointment_cw_add_front) }}
					</div>
				</div>
			</div>

			<!-- Quote -->
			<div id="ajouterundevis" class="overlay">
				<div class="was-validated popup bg-white-light-shebam is-valid">
				<h2 class="mb-4">Ajout un devis</h2>
				<a class="close" href=""><i class="fas fa-times"></i></a>
					<div class="content">
						{{ form_start(form_quote_cw_add_front) }}
								<div class="form-group">
									{{ form_row(form_quote_cw_add_front.subject) }}
									{{ form_row(form_quote_cw_add_front.object) }}
									{{ form_row(form_quote_cw_add_front.person) }}
								</div>
								<div class="form-group">
									{{ form_row(form_quote_cw_add_front.submit) }}
								</div>
						{{ form_end(form_quote_cw_add_front) }}
					</div>
				</div>
			</div>
			{% else %}
				<h1 class="text-center color-blue-dark-shebam mb-3">Liste des tâches</h1>
				<hr>
				<div class="mb-5"></div>
				<form class="form-signin text-center background-login was-validated bg-white-shebam was-validated align-middle" method="post">
				{# <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> #}
				{% if error %}
					<div class="message-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div><br>
				{% endif %}
					<h1 class="h3 mb-3 font-weight-normal">Connectes toi</h1>
					<div class="form-group mt-4">
						<input class="input-group-lg mb-3 form-control" type="email" value="{{ last_username }}" name="email" placeholder="Email" required autofocus>
					</div>
						<input class="field is-invalid form-control input-sm" type="password" name="password" placeholder="Mot de passe" required>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div class="form-group">
						<input type="submit" name="submit" class="btn-md btn-blue-shebam mt-3" value="Connexion">
					</div>
					<div id="register-link" class="text-left mt-5">
						<span> Aie c'est quoi déjà? - </span><a href="{{path('app_forgot_password_request')}}" class="text-info"> Mot de passe oublié</a>
					<span> Pas encore inscrit? - </span><a href="{{path('register')}}" class="text-info"> Inscription</a>
					</div>
				</form>
			{% endif %}		
		</div>
	</body>
</html>
{%  endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		$(()=>{
			$("#tableOrderTaskP1").on("reorder-row.bs.table", (e, table, row, old) => {
				$.ajax({
					url: "{{ path('home_cw_reorder_row')}}",
					method: "POST",
					data: {
						table: JSON.stringify(table),
						context: 1
					},
					dataType: "JSON"
				})
			})
			$("#tableOrderTaskP2").on("reorder-row.bs.table", (e, table, row, old) => {
				$.ajax({
					url: "{{ path('home_cw_reorder_row')}}",
					method: "POST",
					data: {
						table: JSON.stringify(table),
						context: 1
					},
					dataType: "JSON"
				})
			})
			$("#tableOrderAppointment").on("reorder-row.bs.table", (e, table, row, old) => {
				$.ajax({
					url: "{{ path('home_cw_reorder_row')}}",
					method: "POST",
					data: {
						table: JSON.stringify(table),
						context: 2
					},
					dataType: "JSON"
				})
			})
			$("#tableOrderQuote").on("reorder-row.bs.table", (e, table, row, old) => {
				$.ajax({
					url: "{{ path('home_cw_reorder_row')}}",
					method: "POST",
					data: {
						table: JSON.stringify(table),
						context: 3
					},
					dataType: "JSON"
				})
			})
		})
	</script>
{% endblock %}