{% extends 'base.html.twig' %}

{% block content %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Le made in france 100% français">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>{%  block title %}Liste des tâches - Shebam{% endblock %}</title>
    </style>
</head>
<body>
    <header>
		<div class="container">
			<div class="mb-5">
			<h1 class="text-center color-blue-dark->shebam mb-3">Liste des tâches</h1>
			<hr class="text-center mb-5 mt-5">
			<div class="text-center bg-yellow-shebam color-white-shebam p-3 font-weight-bold">Priorité 1</div>
			<table class="table mb-5" data-toggle="table">
				<thead class="bg-grey-shebam color-white-shebam font-weight-bold">
					<tr>
						<th scope="col">Client</th>
						<th scope="col">Sujet</th>
						<th scope="col">Personne(s)</th>
						<th scope="col">Remarque</th>
						<th scope="col">Statut</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for task in task %}
						<tr class="bg-white-shebam">
							<td>{{task.customer}}</td>
							<td>{{task.subject}}</td>
							<td>{% for task in task.users %}
									{{ task.firstname }} <br>
								{% endfor %}
							</td>
							<td>{{task.comment}}</td>
							<td>{{task.status.name|raw}}</td>
							<td>
								<a href="{{ path('task_list_modify_admin', {"id": task.id}) }}"><i class="fas fa-cog"></i></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
				<div class="btn-add-task-home">
					<p class="mt-3 text-center"><a class="btn-yellow-shebam" href="#ajouterunetachep1">Ajouter</a></p>
				</div>
				<div class="btn-add-task-home-mobile">
					<p class="mt-3 text-center"><a class="btn-yellow-shebam" href="{{ path('task_list_add_admin') }}">Ajouter</a></p>
				</div>
			{% endif %}

			<div class="mb-5"></div>

			<div class="text-center bg-pink-shebam color-white-shebam p-3 font-weight-bold">Rendez-vous</div>
			<table class="table" data-toggle="table">
				<thead class="bg-grey-shebam color-white-shebam">
					<tr>
						<th scope="col">Entreprise</th>
						<th scope="col">Sujet</th>
						<th scope="col">Personne(s)</th>
						<th scope="col">Date et heure</th>
						<th scope="col">Statut</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for rendezvous in rendezvous %}
						<tr class="bg-white-shebam">
							<td>{{rendezvous.name}}</td>
							<td>{{rendezvous.sujet}}</td>
							<td>
							{% for rendezvous in rendezvous.utilisateur %}
								{{ rendezvous.firstname }} <br>
							{% endfor %}
							</td>
							<td>{{ rendezvous.heuredurendezvous|date("m/d/Y")  }} à {{rendezvous.heuredurendezvous|date('H:i')}}</td>
							<td>{{rendezvous.statut|raw}}</td>
							<td>
								<a href="{{ path('task_appointment_modify_admin', {"id": rendezvous.id}) }}"><i class="fas fa-cog"></i></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
				<div class="btn-add-task-home">
					<p class="mt-3 text-center"><a class="btn-pink-shebam" href="#ajouterunrendezvous">Ajouter</a></p>
				</div>
				<div class="btn-add-task-home-mobile">
					<p class="mt-3 text-center"><a class="btn-pink-shebam" href="{{ path('task_appointment_add_admin') }}">Ajouter</a></p>
				</div>
			{% endif %}

			<div class="mb-5"></div>

			<div class="text-center bg-blue-light-shebam color-white-shebam p-3 font-weight-bold">Devis</div>
			<table class="table" data-toggle="table">
				<thead class="bg-grey-shebam color-white-shebam font-weight-bold">
					<tr>
						<th scope="col">Client</th>
						<th scope="col">Sujet</th>
						<th scope="col">Personne(s)</th>
						<th scope="col">Remarque</th>
						<th scope="col">Statut</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for quote in quote %}
						<tr class="bg-white-shebam">
							<td>{{ quote.enterprise }}</td>
							<td>{{ quote.subject }}</td>
							<td>
							{% for quote in quote.person %}
								{{ quote.firstname }} <br>
							{% endfor %}
							</td>
							<td>{{ quote.comment }}</td>
							<td>{{ quote.status|raw }}</td>
							<td>
								<a href="{{ path('task_quote_modify_admin', {"id": quote.id}) }}"><i class="fas fa-cog"></i></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
				<div class="btn-add-task-home">
					<p class="mt-3 text-center"><a class="btn-blue-light-shebam" href="#ajouterundevis">Ajouter</a></p>
				</div>
				<div class="btn-add-task-home-mobile">
					<p class="mt-3 text-center"><a class="btn-blue-light-shebam" href="{{ path('task_quote_add_admin') }}">Ajouter</a></p>
				</div>
			{% endif %}

			<div class="mb-5"></div>

			<div class="text-center bg-green-light-shebam color-white-shebam p-3 font-weight-bold">Priorité 2</div>
			<table class="table" data-toggle="table">
				<thead class="bg-grey-shebam color-white-shebam font-weight-bold">
					<tr>
						<th scope="col">Client</th>
						<th scope="col">Sujet</th>
						<th scope="col">Personne(s)</th>
						<th scope="col">Remarque</th>
						<th scope="col">Statut</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					 {% for task2 in task2 %}
					<tr class="bg-white-shebam">
						<td>{{task2.customer}}</td>
						<td>{{task2.subject}}</td>
						<td>{% for task2 in task2.users %}
								{{ task2.firstname }} <br>
							{% endfor %}
						</td>
						<td>{{task2.comment}}</td>
						<td>{{task2.status.name|raw}}</td>
						<td>
							<a href="{{ path('task_quote_modify_admin', {"id": task2.id}) }}"><i class="fas fa-cog"></i></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
				<div class="btn-add-task-home">
					<p class="mt-3 text-center"><a class="btn-green-light-shebam" href="">Ajouter</a></p>
				</div>
				<div class="btn-add-task-home-mobile">
					<p class="mt-3 text-center"><a class="btn-green-light-shebam" href="{{ path('task2_list_add_admin') }}">Ajouter</a></p>
				</div>
			{% endif %}

			<!-- POPUP -->
			<div id="ajouterunetachep1" class="overlay">
				<div class="popup bg-white-light-shebam">
				<h2 class="mb-4">Ajout d'une tâche P1</h2>
				<a class="close" href=""><i class="fas fa-times"></i></a>
					<div class="content">
						{{ form_start(form_task_p1_add_front) }}
							{% if notification %}
									<div class="alert alert-success">{{ notification }}<br>
										<hr>
										<a href="{{ path('home') }}">Voir la liste des tâches</a>
									</div>
							{% endif %}
								<div class="form-group">
									{{ form_row(form_task_p1_add_front.customer) }}
									{{ form_row(form_task_p1_add_front.subject) }}
									{{ form_row(form_task_p1_add_front.subsubject1) }}
									{{ form_row(form_task_p1_add_front.subsubject2) }}
									{{ form_row(form_task_p1_add_front.subsubject3) }}
									{{ form_row(form_task_p1_add_front.status|raw) }}
									{{ form_row(form_task_p1_add_front.users) }}
									{{ form_row(form_task_p1_add_front.comment) }}
								</div>
								<div class="form-group">
									{{ form_row(form_task_p1_add_front.submit) }}
								</div>
						{{ form_end(form_task_p1_add_front) }}
					</div>
				</div>
			</div>
		</div>
    </header>
</body>
</html>
{%  endblock %}