{% extends 'back/index.html.twig' %}

{% block title %}Modifier le statut - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
		{% block titre_admin_page %}{% block title_titre_admin_page_base %}{{ parent() }}{% endblock %}<a href="{{path('status_list_admin')}}">Statut</a> - Modification - 
		<br>ID: {{ status.id }}{% endblock %}
	</div>
	{% block admin_utilisateur %}
		<div class="was-validated form-back background-login is-valid">
			{% if notification %}
				<hr>
					<div class="alert alert-success ">{{ notification }}<br>
						<hr>
						<a href="{{ path('status_list_admin') }}">Retourner sur la liste</a>
					</div>
				<hr>
			{% endif %}
				{{ form_start(form_status_modify_admin) }}
			<div class="form-group">
				{{ form_widget(form_status_modify_admin|raw) }}
			</div>
				{{ form_end(form_status_modify_admin) }}
	{% endblock %}
	</div>
{% endblock %}