{% extends 'back/admin.html.twig' %}

{% block title %}Ajouter un devis - Semaine Actuelle - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
		{% block title_back_page %}Ajouter un devis - Semaine Actuelle{% endblock %}
	</div>
	{% block back_content %}
		<div class="was-validated form-back background-login is-valid">
			{% if notification %}
					<div class="alert alert-success">{{ notification }}<br>
						<hr>
						<a href="{{ path('list_cw_mission_back') }}">Retourner à la liste</a>
					</div>
				<hr>
			{% endif %}
				{{ form_start(form_quote_cw_add_back) }}
			<div class="form-group">
				{{ form_row(form_quote_cw_add_back.subject) }}
				{{ form_row(form_quote_cw_add_back.object) }}
				{{ form_row(form_quote_cw_add_back.person) }}
				{{ form_row(form_quote_cw_add_back.submit) }}
			</div>
				{{ form_end(form_quote_cw_add_back) }}
		</div>
	{% endblock %}
{% endblock %}


