{% extends 'back/tasks_archived/base-pdf.html.twig' %}

{% block body %}
    <h3 class="text-center mb-3" style="color: caa904;"> Liste des tâches téléchargé le {{ "now"|date("d/m/Y") }}</h3>
    <div class="text-center p-3" style="background-color: #FFD600; color: #ffffff; font-weight: bold;">Priorité 1</div>
    <table class="table table-striped table-light" data-toggle="table">
        <thead style="background-color: #caa904; color: #ffffff">
            <tr>
                <th scope="col">Client</th>
                <th scope="col">Sujet</th>
                <th scope="col">Personne(s) Désignée(s)</th>
                <th scope="col">Remarque</th>
                <th scope="col">Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for task in task %}
                {% if task.archived == 1 %}
                    <tr>
                        <td>{{task.customer}}</td>
                        <td>
                            {% if task.subject is empty %}{% else %}{{task.subject}}<br>{% endif %}
                            {% if task.subsubject1 is empty %}{% else %}{{task.subsubject1}}<br>{% endif %} 
                            {% if task.subsubject2 is empty %}{% else %}{{task.subsubject2}}<br>{% endif %}
                            {% if task.subsubject3 is empty %}{% else %}{{task.subsubject3}}<br>{% endif %}
                        </td>
                        <td>{% for task in task.users %}
                                {{ task.firstname }} <br>
                            {% endfor %}
                        </td>
                        <td>{{task.comment}}</td>
                        <td>{{task.status.name|raw}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <div class="mb-5"></div>

    <div style="background-color: #DE99C3; color: #ffffff; font-weight: bold;" class="text-center p-3">Rendez-vous</div>
    <table class="table table-striped table-light" data-toggle="table">
        <thead style="background-color: #caa904; color: #ffffff ">
            <tr>
                <th scope="col">Entreprise</th>
                <th scope="col">Sujet</th>
                <th>Personne(s) Désignée(s)</th>
                <th scope="col">Statut</th>
                <th scope="col">Date et heure</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointment %}
                {% if appointment.archived == 1 %}
                    <tr>
                        <td>{{appointment.name}}</td>
                        <td>{{appointment.subject}}</td>
                        <td>
                        {% for appointment in appointment.user %}
                            {{ appointment.firstname }} <br>
                        {% endfor %}
                        </td>
                        <td>{{appointment.statut|raw}}</td>
                        <td>{{ appointment.hoursappointment|date('j F Y')  }} à {{appointment.hoursappointment|date('H:i')}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <div class="mb-5"></div>

    <div style="background-color: #34BDE8; color: #ffffff; font-weight: bold;" class="text-center p-3">Devis</div>
    <table class="table table-striped table-light" data-toggle="table">
        <thead style="background-color: #caa904; color: #ffffff">
            <tr>
                <th scope="col">Client</th>
                <th scope="col">Sujet</th>
                <th>Personne(s) Désignée(s)</th>
                <th scope="col">Remarque</th>
                <th scope="col">Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for quote in quote %}
                {% if quote.archived == 1 %}
                    <tr>
                        <td>{{ quote.enterprise }}</td>
                        <td>{{ quote.subject }}</td>
                        <td>
                        {% for quote in quote.person %}
                            {{ quote.firstname }} <br>
                        {% endfor %}
                        </td>
                        <td>{{ quote.comment }}</td>
                        <td>{{ quote.status|raw }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <div class="mb-5"></div>

    <div style="background-color: #6CBFA5; color: #ffffff; font-weight: bold;" class="text-center p-3">Priorité 2</div>
    <table class="table table-striped table-light" data-toggle="table">
        <thead style="background-color: #caa904; color: #ffffff">
            <tr>
                <th scope="col">Client</th>
                <th scope="col">Sujet</th>
                <th scope="col">Personne(s) Désignée(s)</th>
                <th scope="col">Remarque</th>
                <th scope="col">Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for task2 in task2 %}
                {% if task2.archived == 1 %}
                    <tr>
                        <td>{{task2.customer}}</td>
                        <td>
                            {% if task2.subject is empty %}{% else %}{{task2.subject}}<br>{% endif %}
                            {% if task2.subsubject1 is empty %}{% else %}{{task2.subsubject1}}<br>{% endif %} 
                            {% if task2.subsubject2 is empty %}{% else %}{{task2.subsubject2}}<br>{% endif %}
                            {% if task2.subsubject3 is empty %}{% else %}{{task2.subsubject3}}<br>{% endif %}
                        </td>
                        <td>{% for task2 in task2.users %}
                                {{ task2.firstname }} <br>
                            {% endfor %}
                        </td>
                        <td>{{task2.comment}}</td>
                        <td>{{task2.status.name|raw}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}