{% extends 'back/index.html.twig' %}

{% block title %}Tâche P1 - Ajouter - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
		{% block titre_admin_page %}Tâche P1 - Ajouter{% endblock %}
	</div>
	{% block admin_utilisateur %}
		{{ form_start(form_task_p1_add_admin) }}
		<div class="was-validated form-back background-login is-valid">
			{% if notification %}
				<div class="alert alert-success">{{ notification }}<br>
					<hr>
					<a href="{{ path('task_list_admin') }}">Retourner à la liste</a>
				</div>
			{% endif %}
				<div class="form-group">
					{{ form_row(form_task_p1_add_admin.customer) }}
					{{ form_row(form_task_p1_add_admin.object) }}
					{{ form_row(form_task_p1_add_admin.subobject1) }}
					{{ form_row(form_task_p1_add_admin.subobject2) }}
					{{ form_row(form_task_p1_add_admin.subobject3) }}
					{{ form_row(form_task_p1_add_admin.users) }}
					{{ form_end(form_task_p1_add_admin) }}
				</div>

		</div>
	{% endblock %}
{% endblock %}


