{% extends 'back/admin.html.twig' %}

{% block title %}Ajouter un client - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
		{% block title_back_page %}Ajouter un client{% endblock %}
	</div>
	{% block content %}
		<div>
			{% if notification %}
					<div class="form-success text-center">
						{{ notification }}<br>
						<a href="{{ path('list_customer') }}">Retourner sur la liste des Clients</a>
					</div>
				<hr>
			{% endif %}
				{{ form_start(form_customer_add_back) }}
			<div class="form-back">
				{{ form_row(form_customer_add_back.name) }}
				{{ form_row(form_customer_add_back.submit) }}
			</div>
				{{ form_end(form_customer_add_back) }}
		</div>
	{% endblock %}
{% endblock %}
