{% extends 'back/admin.html.twig' %}

{% block title %}Liste des clients - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
		{% block title_back_page %}Liste des clients - Il y a
				{% if totalCustomer <= 1 %}
					{{ totalCustomer }} <span> client </span>
				{% else %}
					{{ totalCustomer }} <span> clients </span>
				{% endif %}{% endblock %}
				
	</div>
	{% block content %}
		<div class="container">
				{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
					<div class="mb-4  text-center">
						<a class="color-yellow text-20 text-bold" href="{{ path('add_customer_back') }}"><i class="fas fa-plus-circle"></i>&nbsp; Ajouter un client</a>
					</div>
					<div class="btn-add-task-home-mobile">
						<a class="color-yellow text-20 text-bold" href="{{ path('add_customer_back') }}">Ajouter un client</a>
					</div>
				{% endif %}

			<table id="testaa" class="table table-bordered" data-toggle="table" data-pagination="true" data-search="true">
				<thead class="bg-blue-dark-light">
					<tr>
						<th class="color-yellow" scope="col">Nom du client</th>
                        <th class="color-yellow" scope="col">Action</th>
					</tr>
				</thead>
				<tbody class="bg-blue-dark table-borderless">
					{% for customer in customer %}
						<tr>
							<td class="color-white text-bold">{{customer.name}}</td>
							<td>
								<a class="color-yellow" href="{{ path('modify_customer_back', {"id": customer.id}) }}"><i class="fas fa-cog"></i></a>&nbsp;
								
								<a class="color-yellow" href="{{ path('delete_customer_back', {"id": customer.id}) }}" onclick="return confirm('Attention vous vous apprettez à supprimer un client')"><i class="fas fa-trash"></i></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<p class="text-center text-bold color-white">Si tu supprimes un client, penses à verifier avant si une tâche ne lui est pas attribuée.</p>
		</div>
	{% endblock %}
{% endblock %}


