{% extends 'base.html.twig' %}

{% block title %}Modification de l'idée : {{ idea.subject }} - {% block title_base %}{{
parent() }}{% endblock %}{% endblock %}

{% block body %}
<div>
    {% block title_back_page %}Modification de l'idée : {{ idea.subject }}{% endblock %}
</div>
{% block content %}
<div class="container">
    <img class="d-block mx-auto mb-3" style="width: 400px" src="{{ asset('/assets/images/logo-ideabam.png') }}"
        alt="Logo de connexion To Do List">
    <div class="mb-3 text-center"><a class="btn-yellow-form" href="{{ path('ideabam') }}">Retour</a></div>
    <h4 class="color-white text-center mb-5"> Modification de l'idée : {{ idea.subject}}
    </h4>
</div>
<div class="form-front">
    {% if notification %}
    <hr>
    <div class="form-success text-center text-bold">{{ notification }}<br>
        <hr>
        <a href="{{ path('ideabam') }}">Retourner sur la liste</a>
    </div>
    <hr>
    {% endif %}
    {{ form_start(form_idea_modify) }}
    <div class="form-group">
        {{ form_row(form_idea_modify.subject) }}
        {{ form_row(form_idea_modify.object) }}
        <p class="text-left color-yellow text-bold">Personne(s)</p>
        <div class="bg-black-light text-left users mb-3">
            {{ form_row(form_idea_modify.person) }}
        </div>
        {{ form_row(form_idea_modify.waitingReturn) }}
        {{ form_row(form_idea_modify.submit) }}
    </div>
    {{ form_end(form_idea_modify) }}
    {% endblock %}
</div>
{% endblock %}