{% extends 'base.html.twig' %}
{% block title %}Idébam - Attente retour - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block content %}

<div class="mb-5">
    <img class="d-block mx-auto mb-3" style="width: 400px" src="{{ asset('/assets/images/logo-ideabam.png') }}"
        alt="Logo de connexion To Do List">
    <h1 class="text-center mb-5 text-white">Attente retour</h1>

        <div class="mb-4 text-center">
            <a class="color-yellow text-20 text-bold" href="{{ path('ideabam')}}"><i class="fas fa-arrow-left"></i>&nbsp; Retour</a>
        </div>

    <table id="tableOrderTaskP1" class="table mb-5 table-bordered" data-toggle="table" {% if
        is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %} data-use-row-attr-func="true" {% endif %}>
        <thead class="bg-blue-dark-light table-borderless" style="border-right-style: none;">
            <tr style="border-right-style: none;">
                <th class="color-yellow text-bold" data-field="subject" {% if is_granted('IS_AUTHENTICATED_FULLY') and
                    is_granted('ROLE_ADMIN') %} data-sortable="true" {% endif %} scope="col">Idée</th>
                <th class="color-yellow text-bold" data-field="object" {% if is_granted('IS_AUTHENTICATED_FULLY') and
                    is_granted('ROLE_ADMIN') %} data-sortable="true" {% endif %} scope="col">Objet</th>
                <th class="color-yellow text-bold" data-field="person" {% if is_granted('IS_AUTHENTICATED_FULLY') and
                    is_granted('ROLE_ADMIN') %} data-sortable="true" {% endif %} scope="col">Personne</th>
                {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
                <th class="color-yellow" scope="col">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="bg-blue-dark">
            {% for idea in ideas %}
            {% if idea.waitingReturn == true %}
            <tr>
                <td class="color-white text-bold">{{ idea.subject }}</td>
                <td class="color-white text-bold">{{ idea.object }}</td>
                <td class="color-white text-bold">
                    {% for person in idea.person %}
                    {{ person.firstname }} <br>
                    {% endfor %}
                </td>
                {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
                <td>
                    <a class="color-yellow" class="color-yellow" href="{{ path('ideabam_waiting_return_to_ideabam', { 'id': idea.id }) }}"><i class="fas fa-undo"></i></a>&nbsp;
                    <a class="color-yellow" href="{{ path('modify_ideabam', { 'id': idea.id }) }}"><i
                            class="fas fa-cog"></i></a>&nbsp;
                    <a class="color-yellow" href="{{ path('delete_waiting_return_ideabam', { 'id': idea.id }) }}"
                        onclick="return confirm('Attention vous vous apprêtez à supprimer l\'idée en attente de retour')"><i
                            class="fas fa-trash"></i></a>
                </td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}