<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>
			{% block title %}Tableau de bord -{% block title_base %} Administration{% endblock %}{% endblock %}
		</title>

		<!-- Bootstrap CSS CDN -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">

		<!-- Font Awesome JS -->
		<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.0/css/all.min.css" integrity="sha512-UJqci0ZyYcQ0AOJkcIkUCxLS2L6eNcOr7ZiypuInvEhO9uqIDi349MEFrqBzoy1QlfcjfURHl+WTMjEdWcv67A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ asset('assets/css/back/admin-template.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/back/responsive.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/root.css') }}">
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />	

	</head>
	<body>
		<div class="wrapper">
			<nav id="sidebar" class="bg-yellow-shebam">
				<div class="sidebar-header bg-white-shebam">
					<a href="{{ path('task_list_admin') }}" title="Retourner sur le tableau de bord"><img class="img-admin" src="{{ asset('assets/images/logo-to-do-list-vert.png') }} " alt="Logotype la liste des tâches SHEBAM!"></a>
				</div>
				<ul class="list-unstyled components color-white-shebam">
					{# <li>
						<a href="{{ path('admin') }}" title="Aller sur le tableau de bord"><i class="fas fa-tachometer-alt"></i> Tableau de bord</a>
					</li> #}
					<li>
						<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-tasks"></i> Tâches</a>
						<ul class="collapse list-unstyled" id="homeSubmenu">
							<li>
								<a href="{{ path('task_list_admin') }}" title="Aller sur la liste des tâches">Liste</a>
							</li>
							<li>
								<a href="{{ path('task_list_archived_admin') }}" title="Aller sur la liste des tâches archivées">Archivée</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="{{ path('customer_list_admin') }}" title="Aller sur la liste des clients"><i class="fas fa-user-tie"></i> Clients</a>
					</li>
					<li>
						<a href="{{ path('user_list_admin') }}" title="Aller sur la liste de l'équipe"><i class="fas fa-users"></i> Équipe</a>
					</li>
					<li>
						<a href="{{ path('download_list_admin') }}" title="Aller sur la liste de l'équipe"><i class="fas fa-download"></i> Téléchargement</a>
					</li>
				</ul>
			</nav>
			

			<!-- Page Content Holder -->
			<div id="content">
				<nav class="navbar navbar-expand-lg bg-white-shebam">
					<div class="container-fluid">
							<button type="button" id="sidebarCollapse" class="navbar-btn">
								<span></span>
								<span></span>
								<span></span>
							</button>
							<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<i class="fas fa-align-justify"></i>
							</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="nav navbar-nav ml-auto">
								<li class="nav-item active">
									<a class="nav-link" href="{{ path('account') }}" title="Aller sur mon compte">{{app.user.firstname}}
										{{app.user.lastname}}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('home') }}">
										Retour à l'accueil
									</a>
								</li>
								<li class"nav-item">
									<a class="nav-link" href="{{ path('app_logout') }}">
										<i class="fas fa-sign-out-alt" title="Se déconnecter"></i>
									</i>
								</li>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container mb-5 title-dashboard">
			{% block titre_admin_page %}<h4 class="color-blue-dark-shebam">{% block title_titre_admin_page_base %}<a href="{{ path('task_list_admin') }} " title="Retourner sur la liste des tâches">Administration</a> <i class="fas fa-arrow-right"></i>
			{% endblock %}Tableau de Bord / {{app.user.firstname}} {{app.user.lastname}}</h4>
			{% endblock %}
		</div>
		<div class="container">
			{% block admin_utilisateur %}
			<div class="row text-center">
				<div class="col-sm">
					<div class="framed">
						<h3 class="mb-4">Tâches</h3>
						{# Task P1 Condition #}
						{% if countTaskP1Board <= 1 %}
							<p class="color-black-shebam"><span class="color-yellow-dark">{{ countTaskP1Board }}</span> tâche P1</p>
						{% else %}
							<p class="color-black-shebam"><span class="color-yellow-dark">{{ countTaskP1Board }}</span> tâches P1</p>
						{% endif %}
						{# Task P2 Condition #}
						<p class="color-black-shebam"><span class="color-yellow-dark">{{ countAppointment }}</span> rendez-vous</p>
						<p class="color-black-shebam"><span class="color-yellow-dark">{{ countQuote }}</span>  devis à faire</p>
						{% if countTaskP2Board <= 1 %}
							<p class="color-black-shebam"><span class="color-yellow-dark">{{ countTaskP2Board }}</span> tâche P2</p>
						{% else %}
							<p class="color-black-shebam"><span class="color-yellow-dark">{{ countTaskP2Board }}</span> tâches P2</p>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-sm">
					<div class="framed">
						<h3 class="mb-4">Clients</h3>
						{# Customer Condition #}
						{% if countCustomer <= 1 %}
							<p class="color-black-shebam"><span class="color-yellow-dark">{{ countCustomer }}</span> client</p>
						{% else %}
							<p class="color-black-shebam"><span class="color-yellow-dark">{{ countCustomer }}</span> clients</p>
						{% endif %}
					</div>
				</div>
				<div class="col-sm">
					<div class="framed">
						<h3 class="mb-4">Équipe</h3>
						{# Status Condition #}
						{% if countUser <= 1 %}
							<p class="color-black-shebam"><span class="color-yellow-dark">{{ countUser }}</span> personne dans l'équipe</p>
						{% else %}
							<p class="color-black-shebam"><span class="color-yellow-dark">{{ countUser }}</span> personnes dans l'équipe</p>
						{% endif %}
					</div>
				</div>
			</div>
			{% endblock %}
		</div>

		<!-- jQuery CDN - Slim version (=without AJAX) -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script><!-- Popper.JS -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous">
		</script><!-- Bootstrap JS -->
		
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

		<script src="{{ asset('assets/js/bootstrap-table.js') }}"></script>
		<script src="{{ asset('assets/js/custom.js') }}"></script>

		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

		<script type="text/javascript">$(document).ready(function () {
		$('#sidebarCollapse').on('click', function () {
		$('#sidebar').toggleClass('active');
		$(this).toggleClass('active');});
		});
		</script>
	</body>
</html>