{% extends 'back/index.html.twig' %}

{% block title %}Devis - Modifier - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
		{% block titre_admin_page %}Devis - Modifier{% endblock %}
	</div>
	{% block admin_utilisateur %}
		<div class="was-validated form-back background-login is-valid">
			{% if notification %}
				<hr>
					<div class="alert alert-success">{{ notification }}<br>
						<hr>
						<a href="{{ path('task_list_admin') }}">Retourner sur la liste</a>
					</div>
				<hr>
			{% endif %}
				{{ form_start(form_quote_modify_admin) }}
			<div class="form-group">
				{{ form_row(form_quote_modify_admin.subject) }}
				{{ form_row(form_quote_modify_admin.object) }}
				{{ form_row(form_quote_modify_admin.person) }}
				{{ form_row(form_quote_modify_admin.submit) }}
			</div>
				{{ form_end(form_quote_modify_admin) }}
	{% endblock %}
	</div>
{% endblock %}