{% extends 'back/index.html.twig' %}

{% block title %}Modification du rendez-vous de {{ appointment.name }} - Semaine Suivante - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
		{% block title_back_page %}Modification du rendez-vous de {{ appointment.name }} - Semaine Suivante{% endblock %}
	</div>
	{% block back_content %}
		<div class="was-validated form-back background-login is-valid">
			{% if notification %}
				<hr>
					<div class="alert alert-success ">{{ notification }}<br>
						<hr>
						<a href="{{ path('list_nw_mission_back') }}">Retourner sur la liste</a>
					</div>
				<hr>
			{% endif %}
				{{ form_start(form_appointment_nw_modify_back) }}
			<div class="form-group">
					{{ form_row(form_appointment_nw_modify_back.name) }}
					{{ form_row(form_appointment_nw_modify_back.subject) }}
					{{ form_row(form_appointment_nw_modify_back.hoursappointment) }}
					{{ form_row(form_appointment_nw_modify_back.user) }}
					{{ form_row(form_appointment_nw_modify_back.submit) }}
			</div>
				{{ form_end(form_appointment_nw_modify_back) }}
	{% endblock %}
	</div>
{% endblock %}