{% extends 'back/index.html.twig' %}

{% block title %}Tâches P2 - Modifier - Administration{% endblock %}

{% block body %}
	<div>
		{% block titre_admin_page %}Tâche P2 - Modifier{% endblock %}
	</div>
	{% block admin_utilisateur %}
		<div class="form-back background-login is-valid">
			{% if notification %}
				<hr>
					<div class="alert alert-success">{{ notification }}<br>
						<hr>
						<a href="{{ path('task_list_admin') }}">Retourner sur la liste</a>
					</div>
				<hr>
			{% endif %}
				{{ form_start(form_task_p2_modify_admin) }}
			<div class="form-group">
				{{ form_widget(form_task_p2_modify_admin) }}
			</div>
				{{ form_end(form_task_p2_modify_admin) }}
	{% endblock %}
	</div>
{% endblock %}