{% extends 'base.html.twig' %}

{% block content %}
    <title>{%  block title %}Semaine Actuelle - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}</title>
	<div class="mb-5">
        <img class="d-block mx-auto" style="width: 300px" src="{{ asset('/assets/images/logo-todo.png') }}"
            alt="Logo de connexion To Do List">
		<h1 class="text-center color-white mb-3">Semaine Actuelle</h1>
        <nav class="navbar navbar-expand-lg">
            <ul class="navbar-nav mx-auto " id="navbarqaqa">
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item"> 
                            <a class="navbar-text text-uppercase text-margin" href="{{ path('current_week_p1') }}">Priorité 1 <i class="color-white fas fa-tasks"></i></a>
                        </li>
                        <li class="nav-item"> 
                            <a class="
                                        {% if app.request.attributes.get('_route') starts with 'current_week_p2' %}active-filters{% endif %}
                                        {% if app.request.attributes.get('_route') starts with 'modify_task_p2_cw' %}active-filters{% endif %}
                                        navbar-text text-uppercase text-margin" href="{{ path('current_week_p2') }}">Priorité 2 <i class="color-white fas fa-tasks"></i></a>
                        </li>
                        <li class="nav-item"> 
                            <a class="navbar-text text-uppercase text-margin" href="{{ path('current_week_waiting_return') }}">Attente retour <i class="color-white fas fa-hourglass-start"></i></a>
                        </li>
                        <li class="nav-item"> 
                            <a class="navbar-text text-uppercase text-margin" href="{{ path('current_week_appointment') }}">Rendez-vous <i class="color-white far fa-calendar-check"></i></a></a>
                        </li>
                {% endif %}
            {% endif %}
            </ul> 
        </nav>
		<div class="container text-center padding-dopdown-mobile">
            {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
                <div class="mb-4">
                    <a class="color-yellow text-20 text-bold" href="#ajouterunetachep2"><i class="fas fa-plus-circle"></i>&nbsp; Ajouter une tâche</a>
                </div>
            {% endif %}
            <table id="tableOrderTaskP1" class="table mb-5 table-bordered" data-toggle="table" {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%} data-use-row-attr-func="true" data-reorderable-rows="true" {% endif %}>
                <thead class="bg-blue-dark-light table-borderless" border-right-style: none;>
                    <tr style="border-right-style: none;">
                        <th class="color-yellow text-bold" data-field="id" data-visible="false">ID</th>
                        <th class="color-yellow text-bold" data-field="customer"{% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}data-sortable="true"{% endif %} scope="col">Client</th>
                        <th class="color-yellow text-bold" data-field="subject" {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}data-sortable="true"{% endif %} scope="col">Sujet</th>
                        <th  class="color-yellow text-bold"data-field="person" {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}data-sortable="true"{% endif %} scope="col">Équipe</th>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
                            <th class="color-yellow" scope="col">Action</th>
                            <th class="color-yellow" scope="col">Fait</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody class="bg-blue-dark">
                    {% for task in task %}
                        {% if task.p1 == 0 and task.p2 == 1 and task.nextweek == 0 %}
                            <tr class="popKeke {% if task.done == 1 %}bg-yellow-dark{% endif %}" data-taskdone="{{task.id}}">
                                <td>{{ task.id }}</td>
                                <td class="color-white text-bold">{{task.customer}}</td>
                                <td class="color-white text-bold">
                                    {% if task.object is empty %}{% else %}{{task.object}}<br>{% endif %}
                                    {% if task.subobject1 is empty %}{% else %}{{task.subobject1}}<br>{% endif %} 
                                    {% if task.subobject1 is empty %}{% else %}{{task.subobject2}}<br>{% endif %}
                                    {% if task.subobject1 is empty %}{% else %}{{task.subobject3}}{% endif %}
                                </td>
                                <td class="color-white text-bold">
                                    {% for task in task.users %}
                                        {{ task.firstname }} <br>
                                    {% endfor %}
                                </td>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN')%}
                                <td>
                                    <a class="color-yellow" href="{{ path('to_p2_from_waiting_return_cw', {"id": task.id }) }}"><i class="fas fa-hourglass-start"></i></a>&nbsp;

                                    <a class="color-yellow text-bold" href="{{ path('change_task_cw_to_p1', {"id": task.id}) }}"><span>P1</span></a>&nbsp;
                                    
                                    <a class="color-yellow" href="{{ path('change_task_p2_cw_to_p2_nw', {"id": task.id}) }}"><i class="fas fa-redo"></i>&nbsp;</a>
                                        
                                    <a class="color-yellow" href="{{ path('modify_task_cw_p2', {"id": task.id}) }}"><i class="fas fa-cog"></i></a>&nbsp;
                                        
                                    <a class="color-yellow" class="color-yellow" href="{{ path('delete_task_cw_p2', {"id": task.id}) }}" onclick="return confirm('Attention vous vous apprettez à supprimer une tâche P1')"><i class="fas fa-trash"></i></a>
                                </td>
                                <td class="form-switch">											
                                    <input type="checkbox" class="taskdone" {{ (task.done) ? 'checked' : ''}} data-taskdone="{{task.id}}">
                                </td>
                            {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

		<!-- POPUP -->
		<!-- Task P1 -->
		<div id="ajouterunetachep2" class="overlay">
			<div class="popup bg-blue-dark-light">
                <a class="close" href=""><i class="fas fa-times"></i></a>
                {{ form_start(form_task_cw_p2_add) }}
                    <div class="row">
                        <div class="col">
                            <div class="input">{{ form_row(form_task_cw_p2_add.customer) }}</div>
                            {{ form_row(form_task_cw_p2_add.object) }} 
                            {{ form_row(form_task_cw_p2_add.subobject2) }}
                            {{ form_row(form_task_cw_p2_add.subobject1) }}
                            {{ form_row(form_task_cw_p2_add.subobject3) }}
                        </div>

                        <div class="col">
                            <p class="color-yellow text-bold">Personne(s)</p>
                            <div class="bg-blue-dark text-left users">
                                {{ form_row(form_task_cw_p2_add.users) }}
                            </div>
                            <div class="text-left mt-3 color-yellow">
                                {{ form_row(form_task_cw_p2_add.p2) }}
                                {{ form_row(form_task_cw_p2_add.submit) }}
                            </div>
                        </div>
                    </div>
                {{ form_end(form_task_cw_p2_add) }}
			</div>
		</div>
{%  endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		$(()=>{
			$("#tableOrderTaskP1").on("reorder-row.bs.table", (e, table, row, old) => {
				$.ajax({
					url: "{{ path('reorder')}}",
					method: "POST",
					data: {
						table: JSON.stringify(table),
						context: 1
					},
					dataType: "JSON"
				})
			})
			$("#tableOrderTaskP2").on("reorder-row.bs.table", (e, table, row, old) => {
				$.ajax({
					url: "{{ path('reorder')}}",
					method: "POST",
					data: {
						table: JSON.stringify(table),
						context: 1
					},
					dataType: "JSON"
				})
			})
			$("#tableOrderAppointment").on("reorder-row.bs.table", (e, table, row, old) => {
				$.ajax({
					url: "{{ path('reorder')}}",
					method: "POST",
					data: {
						table: JSON.stringify(table),
						context: 2
					},
					dataType: "JSON"
				})
			})
			$("#tableOrderQuote").on("reorder-row.bs.table", (e, table, row, old) => {
				$.ajax({
					url: "{{ path('reorder')}}",
					method: "POST",
					data: {
						table: JSON.stringify(table),
						context: 3
					},
					dataType: "JSON"
				})
			})
		})
	</script>
{% endblock %}