{% extends 'back/index.html.twig' %}

{% block title %}Rendez-vous - Modifier - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
		{% block titre_admin_page %}Rendez-vous - Modifier{% endblock %}
	</div>
	{% block admin_utilisateur %}
		<div class="was-validated form-back background-login is-valid">
			{% if notification %}
				<hr>
					<div class="alert alert-success ">{{ notification }}<br>
						<hr>
						<a href="{{ path('task_list_admin') }}">Retourner sur la liste</a>
					</div>
				<hr>
			{% endif %}
				{{ form_start(form_appointment_modify_admin) }}
			<div class="form-group">
				{{ form_widget(form_appointment_modify_admin|raw) }}
			</div>
				{{ form_end(form_appointment_modify_admin) }}
	{% endblock %}
	</div>
{% endblock %}