{% extends 'back/index.html.twig' %}

{% block title %}Modification de la tâche P1: {{ task.customer }} - Semaine Suivante - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}

{% block body %}
	<div>
		{% block title_back_page %}Modification de la tâche P1: {{ task.customer }} - Semaine Suivante{% endblock %}
	</div>
	{% block back_content %}
		<div class="was-validated form-back background-login is-valid">
		{% if notification %}
			<hr>
				<div class="alert alert-success">{{ notification }}<br>
					<hr>
						<a href="{{ path('list_nw_mission_back') }}">Retourner sur la liste</a>
				</div>
			<hr>
		{% endif %}
		{{ form_start(form_task_p1_nw_modify_back) }}
		<div class="form-group">
			{{ form_row(form_task_p1_nw_modify_back.customer) }}
			{{ form_row(form_task_p1_nw_modify_back.object) }}
			{{ form_row(form_task_p1_nw_modify_back.subobject1) }}
			{{ form_row(form_task_p1_nw_modify_back.subobject2) }}
			{{ form_row(form_task_p1_nw_modify_back.subobject3) }}
			{{ form_row(form_task_p1_nw_modify_back.users) }}
			{{ form_row(form_task_p1_nw_modify_back.p1) }}
			{{ form_row(form_task_p1_nw_modify_back.submit) }}
		</div>
		{{ form_end(form_task_p1_nw_modify_back) }}
	{% endblock %}
	</div>
{% endblock %}